.scores {
  font-weight: bold;
}
.score {
  font-weight: normal;
}
.newHS {
  color: #ee1717;
  font-weight: bold;
}
canvas {
  image-rendering: pixelated;
  width: 256px;
  height: 256px;
  background: #000;
}
